name: .NET build & test

on:
  pull_request:
    branches: [ "main" ]

env:
  COVERAGE_WARNING_THRESHOLD: 99
  COVERAGE_THRESHOLD: 98
  MUTATION_THRESHOLD: 98

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src
    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.x.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -warnaserror
    - name: Code style check by dotnet format
      run: dotnet format --verify-no-changes
    - name: Install csharpier
      run: dotnet tool install -g csharpier
    - name: Code style check by csharpier
      run: csharpier check .
    - name: Test
      run: dotnet test --no-build --verbosity normal --logger trx --collect:"XPlat Code Coverage"
    - name: Combine Coverage Reports
      uses: danielpalme/ReportGenerator-GitHub-Action@5.5.1
      with:
        reports: "**/*.cobertura.xml"
        targetdir: "${{ github.workspace }}"
        reporttypes: "Cobertura"
        verbosity: "Info"
        title: "Code Coverage"
        tag: "${{ github.run_number }}_${{ github.run_id }}"
        toolpath: "reportgeneratortool"
    - name: Create Code Coverage Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: "Cobertura.xml"
        badge: true
        fail_below_min: true
        format: markdown
        hide_branch_rate: false
        hide_complexity: false
        indicators: true
        output: both
        thresholds: "${{ env.COVERAGE_THRESHOLD }} ${{ env.COVERAGE_WARNING_THRESHOLD }}"
    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request' && github.event.pull_request.user.login != 'dependabot[bot]'
      with:
        recreate: true
        path: code-coverage-results.md
    - name: Install dotnet-stryker globally
      run: dotnet tool install -g dotnet-stryker
    - name: Run mutation test
      run: dotnet stryker --mutation-level Complete --break-at ${{ env.MUTATION_THRESHOLD }}
